/* CSS reset */
@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css";

/* Import fonts */
@import 'https://fonts.googleapis.com/css?family=Lato:300';

body {
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
}

.site-title {
	text-align: right;
}