/* CSS reset */
@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css";

/* Import fonts */
@import 'https://fonts.googleapis.com/css?family=Lato:300';

body {
	font-family: 'Lato', sans-serif;
}

.site-title {
	text-align: right;
	text-transform: uppercase;
}

.banner-image {
	width: 100%;
}


/* Break point, reflowing layout for mobile */
@media only screen and (max-width: 500px) {
    #project-panes-row {
    	flex-direction: column;
    }
    #project-panes-row article.project-pane {
    	width: 100%;
    }
}

